<div class="container">
    <div class="row">
        <div class="col-xs-12">
           
          <!--
                //String interpolation
            <h3>hello All</h3>
            <h2>{{ myName }}</h2>
            <h3>{{'Welcome to data binding'}}</h3>
            <h2>{{10+20}}</h2>
            <h3>{{getName()}}</h3>

            // property binding 
            <input type="text" [value]="myName">
            <button class="btn btn-success" [disabled] = "isDisabled"
            (click)="onLogin()">Login</button>{{message}}
            <hr>
        <h3 *ngIf="count">The button is clicked {{ count }}</h3>
        //Event Binding
        <button class="btn btn-primary"
        (click)="onCount()">Count</button>
        <button class="btn btn-primary"
        (click)="onReset()"
        [disabled]="!count">Reset</button>
       // two way binding
        <h1>Two way data binding</h1>
        <input [(ngModel)]="myName">
        <h2>Welcome  {{myName}}</h2>
     -->
<!--
        //part2
           <app-directive-demo></app-directive-demo>
           -->
          <!--
        //part3
            <app-pipe-demo></app-pipe-demo>-->
           
            part 4
            <div class="container" style="background-color:aqua;">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                  <div class="container-fluid">
                    <a class="navbar-brand" routerLink="/home">Navbar</a>
                    <a class="navbar-brand" href="home">Home</a>
                    <a class="navbar-brand" href="#">Link</a>
                  </div>
                </nav>
              </div>
              <div class="container">
                <div class="col-xs-12">
        <app-product-list></app-product-list>
        <router-outlet></router-outlet>
    </div>
    </div>
        <!--
//part 5
<div *ngIf ="viewComponent">
    
        <app-observable-demo></app-observable-demo>
    </div>

    <button class ="btn btn-primary" (click)="viewComponent =false">Remove</button>

    <div>
        <h3>A saperate div</h3>
    </div>

    //part 6
-->

<!--
<app-angular-uicrud></app-angular-uicrud>
-->
<!--
<app-star-uiux></app-star-uiux>
-->
        </div>
    </div>
</div>


